@media screen and (min-width: 320px){
    /*Mobile-first fluid size*/
    h1{
        font-size: clamp(50px, 10vw, 100px);
    }

    h4{
        font-size: calc(25px + (35 - 25) * ((100vw-320px) / (1920-320)));
    }

    .lead, .btn{
        font-size: calc(16px + (18 - 16) * ((100vw-320px) / (1920-320)));
    }

    .yellow-btn{
        font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320px)));
    }
}

@media screen and (max-width: 990px){
    .navbar-collapse{
        background-color: var(--secondary-color);
        border-bottom: 5px solid rgb(98,0,0);
        margin-top: 14px; /*Removes the overlap between the navbar and navbar collaps*/
        margin-left: -15px;
        margin-right: -15px;
    }

    .nav-link, .dropdown-item{
        margin-left: 20px;
        text-align: left;
    }

    .dropdown-item{
        padding-left: 60px;
    }
}

@media screen and(max-width: 1200px){
    html{
        scroll-padding-top: 300px;
    }

    img{
        margin-bottom: 30px;
    }

    .container{
        padding: 50px;
    }
}


