* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  width: 100%;
  margin: 20px auto;
  height: 400px; /* or whatever height you want */
  object-fit: cover; /* keeps images from stretching */
  border-radius: 8px; /* optional, looks clean */
  vertical-align: middle;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.mySlides {
  display: none;
}

/* Next and Previous Buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Text */
.text {
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number Text */
.numbertext {
  color: #ffffff;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fade Animation */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
